:root{
    --fondo: #303030;
    --barra: #ECECEC;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(33, 33, 33, 0.98);

}

p{/*Para que haya un poco de scroll*/
   color: rgba(33, 33, 33, 0.98);
}

.top-bar{/*fondo del nav*/
    background: var(--fondo);
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
}
   
.icono-menu{ /*Icono de 3 barras*/
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin: 10px 0;
}

span{
    padding-left: 27px;
    padding-top: 1px;
}
.icono-barra{
    width: 24px;
    height: 4px;
    background-color: var(--barra);
    border-radius: 5px;
    margin-left: 25px;
    position: relative;
}

.icono-barra::before{
    content: "";
    width: 24px;
    height: 4px;
    background-color: var(--barra);
    border-radius: 5px;
    margin-left: 5px;
    position: absolute;
    top: -.55rem;
    left: -5px;
}

.icono-barra::after{
    content: "";
    width: 24px;
    height: 4px;
    background-color: var(--barra);
    border-radius: 5px;
    margin-left: 5px;
    position: absolute;
    top: .55rem;
    left: -5px;
}

.logo-imagen{/*Logo de youtube*/
    width: 35px;
    height: 35px;
    margin-left: 25px;

    
}

.logo-letra{/*Logo de youtube*/
    color: #F3F3F3;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 4px;
    cursor: pointer;
}

span{/*Ar de youtube*/
    color: #aaaaaa;
    font-size: x-small;
    position: absolute; 
    top: 11px;
    left: 158px;
}

.buscador{ /*caja flex de input en adelante*/
    display: flex;
    justify-content: center;
    align-items: center;
    

}

input::placeholder{
    color: rgba(255, 255, 255, 0.88);
    font-size: 14px;
}

.buscador-input{/*Buscador*/ 
    background-color: #111111;
    width: 500px;
    height: 30px;
    cursor: text;
    border-top: 1px solid #454545;
    border-bottom: 1px solid #454545;
    border-left: 1px solid #454545;
    border-right: none;
    color: #f9f9f9;
    font-weight: 500;
    padding: 5px;
}

.lupa{/*Lupa del buscador*/
    background-image: url(../Assets/Imagenes/search.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px 15px;
    background-color: rgba(255, 255, 255, 0.08);
    width: 65px;
    height:30px;
    border-top: 1px solid #454545;
    border-bottom: 1px solid #454545;
    border-right: 1px solid #454545;
    border-left: none ;
    cursor: pointer; 
    
}

.lupa:hover{
    background-color: rgba(255, 255, 255, 0.17);
}

.microfono{/*Microfono del buscador*/
    background-image: url(../Assets/Imagenes/microphone1.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    background-color: var(--fondo);
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.derecha{ 
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.camara{/*Camara del nav*/
    background-image: url(../Assets/Imagenes/camara-de-video3.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--fondo);
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    padding: 0 20px;
    margin: 0 10px;
   

} 

.cuadro{/*Cuadro del nav*/
    background-image: url(../Assets/Imagenes/cuadro1.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--fondo);
    width: 23px;
    height: 23px;
    border: none;
    cursor: pointer;
    padding: 0 20px;
    margin: 0 10px;
}

.campana{/*Campana del nav*/
    background-image: url(../Assets/Imagenes/campana1.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--fondo);
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    padding: 0 20px;
    margin: 0 10px; 
}

.foto{/*Foto del nav*/
    background-image: url(../Assets/Imagenes/perfil.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: var(--fondo);
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 0 20px;
    margin: 0 10px;
} 


.left-bar{
    background-color: var(--fondo);
    width: 73px;
    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
}

.iconos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    margin:0 auto;
    text-align: center;
    font-size: 10px;
    color: #909090;
    cursor: pointer;
  
}

.inicio, .tendencias, .suscripcion, .biblioteca{
  margin: 10px;
}

